/* -- Google font link -- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* -- Default css start -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  max-width: 90rem;
  margin: 0 auto;
}

.font-pop {
  font-family: "Poppins", serif;
}

.font-open {
  font-family: "Open Sans", serif;
}

a {
  text-decoration: none;
}

li {
  list-style: none;
}

/* -- Default css end -- */

/* -- Common Styles and Repeat Css Start --  */
.common-pink-button {
  padding: 1rem 5rem;
  border: none;
  background: hsl(322, 100%, 66%);
  border-radius: 5rem;
  font-size: 1.1rem;
  color: #fff;
  font-weight: 600;
  box-shadow: 2.4px 4px 39px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: ease 0.3s;
}

.common-pink-button:hover {
  background: hsla(322, 100%, 66%, 0.774);
}

/* -- Common Styles and Repeat Css End --  */

/* -- header and banner section styles start here --  */

/* -- banner section css start here --   */
.banner-header-main {
  background-image: url("../images/bg-hero-desktop.svg");
  width: 100%;
  height: 95vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-header-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(192, 100%, 96%, 0.527);
  z-index: -1;
}

/* -- banner section css end here --   */

/* -- header section css start here  */
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0.5rem;
}

.header-button button {
  padding: 0.8rem 5rem;
  border: none;
  background: #ffffff;
  border-radius: 5rem;
  font-size: 1.1rem;
  color: hsl(192, 100%, 9%);
  font-weight: 700;
  box-shadow: 2.4px 4px 39px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: ease 0.3s;
}

.header-button button:hover {
  box-shadow: 2.4px 4px 39px rgba(0, 0, 0, 0.4);
}

/* -- header section css end here  */

/* -- banner content section start here --   */
.banner-content-box {
  display: grid;
  grid-template-columns: 45% 55%;
  grid-gap: 1rem;
  align-items: center;
  margin-top: 2.4rem;
}

.banner-text {
  padding: 2rem;
}

.banner-text h1 {
  font-weight: 700;
  font-size: 3rem;
  text-transform: capitalize;
  line-height: 5rem;
  margin-bottom: 1.5rem;
  color: hsl(192, 100%, 9%);
}

.banner-text p {
  font-weight: 500;
  font-size: 1.1rem;
  line-height: 2.2rem;
  margin-bottom: 1.9rem;
  color: hsl(208, 11%, 55%);
}

.banner-image {
  padding: 2rem;
}
.banner-image img {
  max-width: 100%;
}

/* -- banner content section end here --  */

/* -- header and banner section styles start here -- */

/* -- hero section css start here -- */

.hero-section {
  margin: 9rem 0 6rem 0;
}

.hero-section-box {
  display: grid;
  grid-template-columns: 55% 45%;
  align-items: center;
  padding: 4rem;
  box-shadow: 2.4px 4px 20px rgba(0, 0, 0, 0.1);
  border-radius: 2rem;
  margin: 3rem 0;
}

.hero-section-left {
  padding: 4rem;
}

.hero-section-left h2 {
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: 1.2rem;
  color: hsl(192, 100%, 9%);
}

.hero-section-left p {
  font-weight: 500;
  font-size: 1rem;
  line-height: 2.2rem;
  margin-bottom: 1.9rem;
  color: hsl(208, 11%, 55%);
}

.hero-section-image {
  padding: 2rem;
}

.hero-section-image img {
  width: 100%;
}

/* -- hero section css end here -- */

/* -- ready to build funtion start --  */

.ready-build-sec {
  position: relative;
  bottom: -9.5rem;
  z-index: 10;
}

.ready-to-build-main {
  width: 50%;
  margin: 0 auto;
  text-align: center;
  box-shadow: 2.4px 4px 20px rgba(0, 0, 0, 0.1);
  padding: 5rem;
  border-radius: 2rem;
  background: #ffffff;
}

.ready-to-build-box h1 {
  font-weight: 600;
  font-size: 2.2rem;
  text-transform: capitalize;
  margin-bottom: 2rem;
  color: hsl(192, 100%, 9%);
}

/* -- ready to build funtion start -- */

/* -- Footer section start here -- */

.footer-section-box {
  background-color: #00252e;
  padding-top: 15rem;
  padding-bottom: 5rem;
  z-index: -1;
}

.footer-content-main {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

.footer-logo {
  width: 13rem;
}

.footer-address {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 1.5rem;
}

.footer-address img {
  width: 1.5rem;
  margin-right: 1rem;
}

.footer-address a {
  font-size: 0.9rem;
  color: hsl(193, 100%, 96%);
  font-weight: 400;
}

.footer-link li {
  margin-top: 1.6rem;
}

.footer-link li a {
  font-size: 0.9rem;
  color: hsl(193, 100%, 96%);
  font-weight: 400;
  transition: 0.3s;
}

.footer-link li a:hover {
  text-decoration: underline;
}

.footer-social-link {
  margin-top: 1.6rem;
}
.footer-social-link li {
  display: inline-block;
  margin-right: 1.6rem;
}

.footer-social-link li:last-child {
  margin-right: 0;
}

.footer-social-link li a {
  color: hsl(193, 100%, 96%);
  display: block;
  width: 35px;
  height: 35px;
  line-height: 35px;
  border-radius: 20px;
  text-align: center;
  font-size: 1rem;
  border: 1px solid hsl(193, 100%, 96%);
  transition: ease-in 0.2s;
}

.footer-social-link li a:hover {
  color: #ff52bf;
  border-color: #ff52bf;
}

.copyright-text {
  text-align: right;
  color: hsl(193, 100%, 96%);
}

/* -- Footer section end here -- */

/* -- Responsive Css Start Here -- */

@media screen and (max-width: 576px) {
  .container {
    max-width: 92%;
  }
  .header-logo img {
    width: 200px;
  }
  .banner-header-main {
    height: auto;
  }
  .header-button button {
    padding: 0.5rem 3rem;
    border-radius: 5rem;
    font-size: 0.9rem;
    font-weight: 600;
  }
  br {
    display: none;
  }
  .banner-text {
    text-align: center;
  }
  .banner-text h1 {
    font-size: 2rem;
    line-height: 3rem;
    margin-bottom: 1.1rem;
  }
  .banner-content-box {
    grid-template-columns: repeat(1, 1fr);
    padding: 1.2rem 0 1.8rem 0;
  }
  .hero-section {
    margin: 8rem 0 3rem 0;
  }
  .hero-section-box {
    grid-template-columns: repeat(1, 1fr);
    grid-gap: 1rem;
    margin-top: 2.4rem;
    padding: 1rem;
  }
  .hero-section-image {
    grid-row: 1;
  }
  .hero-section-left {
    padding: 1.5rem;
    text-align: center;
  }
  .hero-section-left h2 {
    font-size: 1.7rem;
  }
  .ready-to-build-main {
    width: 85%;
    padding: 1.7rem;
  }
  .ready-to-build-box h1 {
    font-weight: 700;
    font-size: 1.2rem;
  }
  .ready-to-build-box .common-pink-button {
    padding: 0.9rem 3.1rem;
    background: hsl(322, 100%, 66%);
    border-radius: 4rem;
    font-size: 0.9rem;
  }
  .ready-build-sec {
    bottom: -5.55rem;
  }
  .footer-section-box {
    padding-top: 10rem;
    padding-bottom: 5rem;
  }
  .footer-content-main {
    grid-template-columns: repeat(1, 1fr);
  }
  .footer-social-link {
    text-align: center;
  }
  .copyright-text {
    margin-top: 2rem;
    text-align: center;
  }
}

/* -- Responsive Css End Here -- */
