/* -- Google font link -- */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

/* -- Default css start -- */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 90rem;
  margin: 0 auto;
}

.font-pop {
  font-family: "Poppins", serif;
}

.font-open {
  font-family: "Open Sans", serif;
}

/* -- Default css end -- */

/* -- header and banner section styles start here --  */

/* -- banner section css start here --   */
.banner-header-main {
  background-image: url("../images/bg-hero-desktop.svg");
  width: 100%;
  height: 80vh;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-header-main::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: hsla(192, 100%, 96%, 0.527);
  z-index: -1;
}

/* -- banner section css end here --   */

/* -- header section css start here  */
.header-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 0.5rem;
  z-index: 5;
}

.header-button button {
  padding: 0.8rem 5rem;
  border: none;
  background: #ffffff;
  border-radius: 5rem;
  font-size: 1.1rem;
  color: hsl(192, 100%, 9%);
  font-weight: 700;
  box-shadow: 2.4px 4px 39px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

/* -- header section css end here  */

/* -- header and banner section styles start here -- */
